<p class="block_title">Latest Topics</p>
<% @data.each do |y| %>
<% @post =  Post.where(posthash: y)[0]%>
<% @username = Post.where(posthash: y)[0].user%>
<% @user = User.where(name: @username)[0]%>
<div class="topicbox"><img class="topic_gravatar" src="http://gravatar.com/avatar/<%=Digest::MD5.hexdigest(@user.mail) %>?r=G&amp;s=48"><ul><li><a class="topic_time"><icon>m</icon><%=@post.node %> <icon>7</icon><%=@post.time %></a></li><li><a href='javascript:show_topic(<%='"'+y+'"' %>);' class="topic_link"><span><%=@username %>:</span><%=@post.title %></a><a href='javascript:show_topic(<%='"' +@post.posthash+'"' %>);'  class="topic_reply_unm"><%=Post.where(mother: y).count().to_s %></a></li></ul><div class="clear"></div></div>
<% end %>
