<p class="block_title">Latest Topics</p>
<% @data.each do |x| %>
<% @x.each do |y| %>
<div class="topicbox"><img class="topic_gravatar" src="http://gravatar.com/avatar/<%=Digest::MD5.hexdigest(@u.where(name: y.name).mail) %>?r=G&amp;s=48"><ul><li><a class="topic_time"><icon>m</icon><%=y.node %> <icon>7</icon><%=y.time %></a></li><li><a href='javascript:show_topic(<%='"'+y.hash+'"' %>);' class="topic_link"><span><%=y.user %>:</span><%=y.title %></a><a href='javascript:show_topic(<%='"' +y.hash+'"' %>);'  class="topic_reply_unm"><%=@p.where(mother: y.hash).count().to_s %></a></li></ul><div class="clear"></div></div>
<% end %>
<% end %>
