<% if @type == "topic" %>
<p class="block_title">
	<icon><a onclick="javascript:back();">v</a></icon>	<%=@data[0].title%>
</p>
	<div class="v_box view_texts">
		<%=@data[0].texts %>
	</div>
	<div class="v_box view_user">
		<div class="view_gravatar" style="background:url(http://gravatar.com/avatar/<%=Digest::MD5.hexdigest(User.where(name: @data[0].user)[0].mail) %>?r=G&amp;s=64)  no-repeat"></div>
		<div class="view_user_text">
			<p><span>作者 <%=@data[0].user %></span></p>
			<p>发表该贴到 <%=@data[0].node %> 节点于 <%=@data[0].time %>。</p>
			<p>本帖独立访问地址为 <a href="http://<%=request.host%><% if request.port != 80%>:<%=request.port %><%end%>/#post/<%=@data[0].posthash%>">http://<%=request.host%><% if request.port != 80%>:<%=request.port %><%end%>/#post/<%=@data[0].posthash%></a>。</p>
		</div>
	</div>
	<div class="v_box view_topic replybox">
	</div>
<%end%>
<% if @type == "reply" %>
	<% if @data != [] %>
	<a class="t_span">回复</a>
	<% @data.each do |hash| %>
	<% p = Post.where(posthash: hash)[0]%>
	<div class="reply_show">
		<div class="view_gravatar" style="background:url(http://gravatar.com/avatar/<%=Digest::MD5.hexdigest(User.where(name: p.user)[0].mail) %>?r=G&amp;s=64)  no-repeat"></div>
		<%=p.texts%>
		<p class="reply_info">作者 <%=p.user%> 回复于 <%=p.time%></p>
	</div>
	<%end%>
	<%end%>
	<%if Logined? %>
	<a class="t_span">留下您的看法</a>
	<div class="wmd-panel">
		<div id="wmd-button-bar"></div>
		<textarea class="wmd-input" id="wmd-input"></textarea>
	</div>
	<div id="wmd-preview" class="wmd-panel preview"></div>
	<p id="reply_btn_helper"><a id="reply_to" href="javascript:;">发表</a></p>
	<% end%>
<%end%>
<% if @type == "notfound" %>
	<div class="v_box">
		<div class="view_user_text">
			<p><span>抱歉</span></p>
			<p>您所请求的帖子不存在。</p>
		</div>
	</div>
<%end%>
